<div class="sidenav">
  <div class="login-main-text">
    <h2>Hire a Lover<br> Register Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <label>User Name</label>
          <p style="color:darkgray; font-size: 13px">* Enter user name longer than 4 characters</p>
          <input type="text" class="form-control" placeholder="Enter your User Name" formControlName="userName">
          <p *ngIf="registerForm.get('userName')?.errors?.['required'] && registerForm.get('userName')?.touched" style="color: red" >Can't be left blank</p>
          <p *ngIf="registerForm.get('userName')?.errors?.['minlength'] " style="color: red" >No less than 5 characters</p>
          <p id="checkUserName" style="color: red " *ngIf="!checkDuplicateUsername">User name already in use!</p>
        </div>
        <div class="form-group">
          <label>Pass Word</label>
          <p style="color:darkgray; font-size: 13px">* Enter user name longer than 4 characters</p>
          <input type="password" class="form-control" placeholder="Enter your password" formControlName="passWord">
          <p *ngIf="registerForm.get('passWord')?.errors?.['required'] && registerForm.get('passWord')?.touched" style="color: red">Can't be left blank</p>
          <p *ngIf="registerForm.get('passWord')?.errors?.['minlength'] " style="color: red" >No less than 5 characters</p>
        </div>
        <div class="form-group">
          <label>Email</label>
          <p style="color:darkgray; font-size: 13px">* Enter email in the correct format (eg = abc@gmail.com)</p>
          <input type="text" class="form-control" placeholder="Enter your gmail" formControlName="email">


          <!--          <p *ngIf="registerForm.get('email')?.errors?.['required']&& registerForm.get('email')?.touched" style="color: red">Không được để trống</p>-->
<!--          <p *ngIf="registerForm.get('email')?.errors?.['minlength'] " style="color: red" >Không để dưới 5 kí tự</p>-->
          <p *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched " style="color: red" >Wrong email format</p>
          <p id="checkMail" style="color: red " *ngIf="!checkDuplicateMail">Incorrect email or already in use.</p>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <p style="color:darkgray; font-size: 13px">* Enter the correct 10 digit phone number (eg = 0123456789)</p>

          <input type="text" class="form-control" placeholder="Enter your phone number" formControlName="phoneNumber">
          <p *ngIf="registerForm.get('phoneNumber')?.errors?.['required'] && registerForm.get('phoneNumber')?.touched" style="color: red">Can't be left blank</p>
          <p *ngIf="registerForm.get('phoneNumber')?.errors?.['minlength'] " style="color: red" >Enter the correct phone number</p>
          <p *ngIf="registerForm.get('phoneNumber')?.errors?.['maxlength'] " style="color: red" >Enter the correct phone number</p>
        </div>
        <div class="btna">
          <button routerLink="/login"  class="btn btn-secondary">Login</button>
          <button type="submit" class="btn btn-black">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

