<!--<div *ngIf="!canEdit" id="manche">-->
<!--  <button id="editbtn" class="btn btn-primary" (click)="showEdit()">Edit Profile</button>-->
<!--</div>-->

<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <nav class="nav nav-borders" >
    <a class="nav-link" [routerLink]="'/profile/show/'+id" >Your Profile</a>

    <a class="nav-link" [routerLink]="'/profile/edit/'+id" >Edit Profile</a>
    <a class="nav-link" href="" >Service</a>
    <a class="nav-link" href="" >Order</a>
    <a class="nav-link" href="" >Email&Password</a>

  </nav>
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Avatar</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <label for="inputavatar" ><img *ngIf="profile?.avatar==null" class="img-account-profile rounded-circle mb-2"  src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <img *ngIf="profile?.avatar!=null" class="img-account-profile rounded-circle mb-2" id="avatar" src="{{profile?.avatar}}" alt=""></label>
          <input class="btn btn-primary" id="inputavatar" type="file" hidden (change)="upfile($event,'avatar')">
        </div>
      </div>
    </div>
    <div class="col-xl-8">


      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form  >
            <!-- Form Group (username)-->
            <div class="mb-3 form-group">
              <label class="small mb-1" for="inputUsername">Full Name </label>
              <input id="inputUsername" type="text" class="form-control"    readonly placeholder="full Name"  value="{{profile?.fullName}}">
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHight">Hight (nhập từ 50 - 250. Đơn vị Cm)</label>
                <input class="form-control"  readonly   id="inputHight" type="number" placeholder="Enter your hight"  value="{{profile?.high}}">
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputWeight">Weight (nhập từ 30 - 200. Đơn vị Kg)</label>
                <input  class="form-control" readonly   id="inputWeight" type="number" placeholder="Enter your hight" value="{{profile?.weight}}">
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHobby">Hobby</label>
                <input class="form-control" readonly   id="inputHobby" type="text" placeholder="Enter your hobby"  value="{{profile?.hobby}}">

              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputCountry">Country</label>
                <input class="form-control"  readonly  id="inputCountry" type="text" placeholder="Enter your country" value="{{profile?.country?.name}}">
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputCity">City</label>
                <input class="form-control"  readonly  id="inputCity" type="text" placeholder="Enter your location" value="{{profile?.city?.name}}" >
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputIntroduction">Introduction</label>
                <input class="form-control"  readonly  id="inputIntroduction" type="text" placeholder="Enter your Introduction"  value="{{profile?.introduction}}">

              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputFacebookLink">FacebookLink</label>

                <input class="form-control"  readonly  id="inputFacebookLink" type="text" placeholder="Enter your FacebookLink"  value="{{profile?.facebookLink}}">

              </div>

              <div class="col-md-6">
                <label class="small mb-1" >Gender</label>

                <input class="form-control"  readonly   type="text" placeholder="Enter your FacebookLink"  *ngIf="profile?.gender" value="Nam">
                <input class="form-control"  readonly  type="text" placeholder="Enter your FacebookLink"  *ngIf="!profile?.gender" value="Nữ">


              </div>


              <div class="col-md-6">
                <label class="small mb-1" for="inputCreatDate">Creat Date</label>
                <input readonly class="form-control"    id="inputCreatDate" type="date" placeholder="Enter your Status" value="{{createDate}}" >
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                <input class="form-control"  readonly  id="inputEmailAddress" type="email" placeholder="Enter your email address"  value="{{profile?.appUser?.email}}" >
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input class="form-control"  readonly  id="inputBirthday" type="date"  placeholder="Enter your birthday"  value="{{profile?.birthDay}}">
              </div>
            </div>
            <div class="row gx-9 mb-3">
              <div class="col-md-3">
                <label class="small mb-1" for="inputimg1"><img id="img1" src="{{profile?.img1}}" alt="img1"></label>
                <input class="form-control"  hidden  id="inputimg1" type="file" placeholder="Enter your img" (change)="upfile($event,'img1')" >
              </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputimg2"><img id="img2" src="{{profile?.img2}}" alt="img2"></label>
                <input class="form-control"    id="inputimg2" type="file" hidden placeholder="Enter your img" (change)="upfile($event,'img2')" >
              </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputimg3"><img id="img3" src="{{profile?.img3}}" alt="img3"></label>
                <input class="form-control"  hidden  id="inputimg3" type="file" placeholder="Enter your img" (change)="upfile($event,'img3')" >
              </div>
            </div>
            <!-- Form Group (email address)-->

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <!-- Form Group (birthday)-->

              <div class="mb-3" >
                <label class="small mb-1" for="requirementsForHirer">Requirements For Hirer</label>
                <textarea class="form-control"    readonly id="requirementsForHirer"  placeholder="Requirements For Hirer" formControlName="requirementsForHirer" value="{{profile?.requirementsForHirer}}"></textarea>
              </div>
            </div>
            <!-- Save changes button-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
