<div id="frame" style=" min-height: 100px;margin-top: 100px">
  <div id="content">
    <nav class="nav nav-borders" >
      <a class="nav-link" [routerLink]="'/profile/show/'+profile?.appUser?.id" >Your Profile</a>

      <a class="nav-link" [routerLink]="'/profile/edit'" >Edit Profile</a>
      <a class="nav-link" [routerLink]="'/profile/service'"><h4>Service</h4></a>
      <a class="nav-link" [routerLink]="'/profile/order'" >Order</a>
      <a class="nav-link" href="" >Email&Password</a>
      <a class="nav-link" [routerLink]="'/profile/wallet'"  >Wallet</a>

    </nav>
    <hr class="mt-0 mb-4">
    <div id="main">
        <div id="newbie-alert" *ngIf="!roleCCDV">
            <p id="newbie-item">You have not registered to provide the service</p>
            <div (click)="showForm()" class="item btn btn-primary" id="btn-regis">
            Register to provide services
            </div>
        </div>
        <div id="formCCDV" >
          <div class="formCCDV-item a1" i>
            <p id="formCCDV-item-tit">Select services you want to provice</p>
          </div>
            <div class="formCCDV-item a2">
              <div class="selectSevice">
                <h3>Basic service</h3>
                <div class="form-check" *ngFor="let b of basicS">
                  <input class="form-check-input" type="checkbox" value="{{b?.id}}" >
                  <label class="form-check-label">
                    {{b?.name}}
                  </label>
                </div>
              </div>

              <div class="selectSevice">
                <h3>Free service</h3>
                <div class="form-check" *ngFor="let f of freeS">
                  <input class="form-check-input" type="checkbox" value="{{f?.id}}" >
                  <label class="form-check-label" >
                    {{f?.name}}
                  </label>
                </div>

              </div>

              <div class="selectSevice">
                <h3>Advance service</h3>
                <div class="form-check" *ngFor="let a of advanceS">
                  <input class="form-check-input" type="checkbox"  value="{{a?.id}}" >
                  <label class="form-check-label">
                    {{a?.name}}
                  </label>
                </div>
              </div>
            </div>
          <div class="formCCDV-item a4"  >
            <label for="cost" style="font-size: 20px;  margin-left: 40px;
">Price</label>
            <input style="margin-left: 20px;height: 40px" type="number" id="cost"  placeholder="enter your price ">
            <p style="color: red;margin-left: 20px;font-size: 20px" *ngIf="checkPrice" >Min price is 10000</p>

          </div>
          <div class="formCCDV-item a3">
            <button class="btn-danger btn" id="clBTN" (click)="closeForm()">Cancel</button>
            <button class="btn-primary btn" id="cfBtn" (click)="cf()">Confirm</button>
          </div>
        </div>
        <div id="ccdvM" *ngIf="roleCCDV" >
          <div id="menu">
            <div class="item btn btn-facebook">Your Service</div>
            <div class="item btn btn-facebook" (click)="showForm()">Re-Register</div>
          </div>
          <div id="data">

            <div class="data-item">
                <h3 style="margin-left: 10px">The services you are providing</h3>
                <div id="sv">
                  <div class="sv-item" >
                    <h4>Basic</h4>
                    <ul>
                      <li *ngFor="let b of mbasicS">{{b?.name}}</li>
                    </ul>
                  </div>
                  <div class="sv-item">
                    <h4>Free</h4>
                    <ul>
                      <li *ngFor="let f of mfreeS">{{f?.name}}</li>
                    </ul>
                  </div>
                  <div class="sv-item">
                    <h4>Advance</h4>
                    <ul>
                      <li *ngFor="let a of madvanceS">{{a?.name}}</li>
                    </ul>
                  </div>
                </div>
                <div id="requipment">
                  <h3>Requipment for hirer</h3>
                  <div id="cnt">
                    <textarea id="rqm"  readonly placeholder="enter your requipment for hirer" [value]="profile?.requirementsForHirer"></textarea>
                    <button id="btneditT" class="priceS-item btn btn-facebook" (click)="showEditRQM(true)">Edit</button>
                    <button id="btncancelT" class="priceS-item btn btn-danger" (click)="cancelEditRQM()" >Cancel</button>
                    <button id="btnsaveT" class="priceS-item btn btn-primary" (click)="editRQM()" >Save</button>
                  </div>

                </div>
                <div id="price-and-status">
                    <div id="priceS">
                      <h3>Price/hour</h3>
                      <p id="vldP"  style=" color: red;display: none">Min price is 10000</p>
                      <div class="pas">
                        <input id="inputPrice" (input)="vldP()" readonly style="width: 180px ;height: 40px"  type="number" placeholder="enter your price" value="{{profile?.cost}}">
                        <button id="btnedit" class="priceS-item btn btn-facebook" (click)="showEditPrice(true)">Edit</button>
                        <button id="btncancel" class="priceS-item btn btn-danger" (click)="cancelEditPrice()" >Cancel</button>
                        <button id="btnsave" class="priceS-item btn btn-primary" (click)="editPrice()" >Save</button>

                      </div>

                    </div>
                  <div id ="statusS">
                    <h3>Service provice status</h3>
                    <div class="pas">
                      <input  type="range" min="4" max="5" step="1" value="{{profile?.status}}" (change)="changeStatus()" style="width: 50px">
                      <p *ngIf="profile?.status==4" style="margin-left: 20px;font-size: 20px;margin-top: 10px;margin-bottom: 10px" >Stop provide service</p>
                      <p *ngIf="profile?.status==5"  style="margin-left: 20px;font-size: 20px;margin-top: 10px;margin-bottom: 10px">Start provide service</p>

                    </div>
                  </div>
                </div>

            </div>


          </div>
        </div>
    </div>
  </div>
  <div id="alert">

</div>
</div>
