#frame{
  min-height: 1000px;
  width: 100%;
  display: flex;
  justify-content: left;
}

#alert{
}
#content{
  width: 1272px;
  height: 800px;
  margin: auto;
  margin-top: 0;
}

.nav-borders{
  width: 1250px;
  margin:auto;
  height: 100px;
}
.nav-link{
  margin-top: 30px;
  font-size: 20px;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
#main{
  /*display: flex;*/
  /*justify-content: left;*/
  width: 1272px;
  height: 800px;
  border: black solid 1px;
  border-radius: 10px;


}

#menu{
  width: 330px;
  height: 560px;
  margin-top: 20px;
  margin-left: 20px;
  border: black solid 1px;
  border-radius: 10px;
}
#data{
  width: 880px;
  height:max-content;
  margin-top: 20px;
  margin-left: 20px;
  border: black solid 1px;
  border-radius: 10px;
}
#sv{
  width: 900px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}
.sv-item{
  width: 300px;
  height: max-content;

}
.form-check-label{
  font-size: 16px;
}
textarea{
  width: 600px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  padding: 20px;
  font-size: 20px;
}

#requipment{
  width: 900px;
  height: 200px;
  margin-top: 10px;
  padding-left: 10px;

}

#price-and-status{
  width: 900px;
  height: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}

#priceS,#statusS{
  padding-left: 10px;
  margin-top: 10px    ;
  width: 440px;
  height: 120px;


}

.pas{
  display: flex;
  justify-content: left;

}
.priceS-item{
  margin-left: 10px;
}
.item{
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Lato", sans-serif;

  border: black solid 1px;

}
.data-item{
  width: 900px;
  height:max-content;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#newbie{

  display: flex;
  justify-content: center;

}
#formCCDV-item-tit{
  text-align: center;
  width: 1000px;
  margin: auto;
  font-weight: bold;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  color: #0e456d;
}
#newbie-item{
  text-align: center;
  width: 1000px;
  margin: auto;
  margin-top: 200px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  color: #0e456d;

}
#btn-regis{
  width: 290px;
  height: 50px;
  margin-left: 500px;
  margin-top: 100px;




}
#newbie-alert{
  display: block;
}
#newbie-alert,#formCCDV,#ccdvM {
  width: 1272px;
  min-height:680px;


}
.formCCDV-item{
  width: 1272px;


}
.a1{
  height: 40px;
  margin-top: 20px;
}
.a3{
  margin: auto;
  margin-bottom: 20px;
}
.a4{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px;
}
#ccdvM {
  display: flex;
  justify-content: left;
}
#formCCDV{
  display: none;
  justify-content: left;
}
.selectSevice{
  margin-left: 30px;
  margin-top: 20px;
  width: 350px;
  height: 400px;
  border: #0e456d solid 1px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 20px;

}

.formCCDV-item{
  display: flex;
  justify-content: left;
  margin-left: 55px;

}
#cfBtn{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 300px;
}
#clBTN{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 300px;
}
#menu{
  height: 630px;
}
#btncancel,#btnsave,#btncancelT,#btnsaveT{
  display: none;
}

#btncancelT,#btnsaveT,#btneditT{
  width: 100px !important;
  height: 40px !important;
  margin-left: 10px;
}
#cnt{
  display: flex;
  justify-content: left;
}
