*{
  margin: 0;
  padding: 0;
}
#header{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
h2{
  margin-top: 30px;
}

#frame{
  width: 500px;
  height: auto;
  border: black solid 1px ;
  border-radius: 5px;
  margin: auto;
  background: linear-gradient(146deg,wheat,deeppink);
}
.info {
  display: flex;
  justify-content: left;
  width: 400px;
  height: 60px;
  margin: auto;
}
.title{
  width: 120px;
}

.detail{
  width: 240px;
  height: 24px;
}
#confirm{
  justify-content: space-between !important;
  display: flex;
  width: 240px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
button{
  width: 80px;
  height: 30px;
}
