<div id="frame">
  <div id="header">
    <h2 >Đăng ký tài khoản</h2>

  </div>
  <div class="info">
    <p class="title">Họ và Tên :</p>
    <input type="text" class="detail" placeholder="Nhập vào họ tên"></div>
  <div class="info">




    <p class="title">Email :</p>
    <input type="email" class="detail" placeholder="Nhập vào email"></div>
  <div class="info">
    <p class="title">Số điện thoại :</p>
    <input type="text" class="detail" placeholder="Nhập vào số điện thoại"></div>
  <div class="info">
    <p class="title">Địa chỉ :</p>
    <input type="text" class="detail" placeholder="Nhập vào địa chỉ"></div>
  <div class="info">
    <p class="title">Ngày sinh :</p>
    <input type="date" class="detail"></div>
  <div class="info">
    <p class="title">Giới tính :</p>
    <select class="detail">
      <option value="0">Nam</option>
      <option value="1">Nữ</option>

    </select></div>

  <div id="confirm">
    <button class="btn btn-danger">Hủy</button>
    <button class="btn btn-primary">Xác nhận </button>
  </div>
</div>
<!--private String email;-->
<!--private String phoneNumber;-->
<!--private String address;-->
