
<nav class="nav nav-borders" style=" min-height: 100px;margin-top: 100px">
  <a class="nav-link" [routerLink]="'/profile/show/'+id" >Your Profile</a>
  <a class="nav-link" [routerLink]="'/profile/edit'" >Edit Profile</a>
  <a class="nav-link" [routerLink]="'/profile/service'">Service</a>
  <a class="nav-link" [routerLink]="'/profile/order'" >Order</a>
  <a class="nav-link" href="">Email&Password</a>
  <a class="nav-link" [routerLink]="'/profile/wallet'"  ><h4>Wallet</h4></a>
</nav>

<section class="search-form om-m-now new-block pdtb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-wrapper">
          <form>
            <div class="row" >
              <div  style="display: flex;justify-content: center;margin-left: 0px"><label>Account Balance : {{wallet?.amount}} VND</label>
                <div class="form-group">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Recharge</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

















<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form>
      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group">
            <label for="pwd">Deposit Amount:</label>
            <input type="number" class="form-control" id="pwd">
            <p id="recharge" style="color: red ; display: none">The Deposit Amount Must Be Greater Than 50.000 vnd</p>
            <p id="rechargesuccess" style="color: green ; display: none">Successful Recharge</p>
          </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit"   class="btn btn-primary" (click)="recharge()">+</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </form>

    </div>
  </div>
</div>
