

<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <nav class="nav nav-borders">
    <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a>
  </nav>
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" id="avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
          <!-- Profile picture upload button-->
<!--          <label for="inputavatar">Upload new image</label>-->
          <input class="btn btn-primary" #inputavatar type="file" (change)="choosefile(inputavatar)">
          <input class="btn btn-primary" id="duphong" type="file" hidden>
        </div>
      </div>
    </div>
    <div class="col-xl-8">


      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="save()" >
            <!-- Form Group (username)-->
            <div class="mb-3 form-group">
              <label class="small mb-1" for="inputUsername">Full Name </label>
              <input id="inputUsername" type="text" class="form-control"  readonly  readonlyplaceholder="User Name" formControlName="fullName" value="{{profile?.fullName}}">
              <p *ngIf="!profileForm.get('fullName')?.valid && profileForm.get('fullName')?.touched" style="color: red">Nhập lỗi</p>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHight">Hight (Cm)</label>
                <input class="form-control"  readonly  id="inputHight" type="number" placeholder="Enter your hight" formControlName="high" value="{{profile?.high}}">
                <p *ngIf="!profileForm.get('high')?.valid && profileForm.get('high')?.touched" style="color: red">Nhập lỗi</p>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputWeight">Weight (Kg)</label>
                <input  class="form-control"  readonly  id="inputWeight" type="number" placeholder="Enter your hight" formControlName="weight" value="{{profile?.weight}}">
                <p *ngIf="!profileForm.get('weight')?.valid && profileForm.get('weight')?.touched" style="color: red">Nhập lỗi</p>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHobby">Hobby</label>
                <input class="form-control"  readonly  id="inputHobby" type="text" placeholder="Enter your hobby" formControlName="hobby" value="{{profile?.hobby}}">
                <p *ngIf="!profileForm.get('hobby')?.valid && profileForm.get('hobby')?.touched" style="color: red">Nhập lỗi</p>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputCountry">Country</label>
                <select [ngModel]="countrydropdown" class="form-control"  readonly  id="inputCountry" type="text" placeholder="Enter your country" formControlName="country">
                  <option *ngFor="let c of country" value="{{c.id}}" selected="{{profile?.country?.id}}">{{c.name}}</option>
                </select>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputCity">City</label>
                <select [ngModel]="citydropdown" class="form-control"  readonly  id="inputCity" type="text" placeholder="Enter your location" formControlName="city">
                  <option value="{{profile?.city?.id}}" selected="true" >{{profile?.city?.name}}</option>
                  <option *ngFor="let ci of city" value="{{ci.id}}"  >{{ci.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputIntroduction">Introduction</label>
                <input class="form-control"  readonly  id="inputIntroduction" type="text" placeholder="Enter your Introduction" formControlName="introduction" value="{{profile?.introduction}}">
                <p *ngIf="!profileForm.get('introduction')?.valid && profileForm.get('introduction')?.dirty" style="color: red">Nhập lỗi</p>

              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputFacebookLink">FacebookLink</label>

                <input class="form-control" readonly  id="inputFacebookLink" type="text" placeholder="Enter your FacebookLink" formControlName="facebookLink" value="{{profile?.facebookLink}}">
                <p *ngIf="!profileForm.get('facebookLink')?.valid && profileForm.get('facebookLink')?.touched" style="color: red">Nhập lỗi</p>

              </div>


              <div class="col-md-6">
                <label class="small mb-1" for="inputCreatDate">Creat Date</label>
                <input readonly class="form-control"  readonly  id="inputCreatDate" type="date" placeholder="Enter your Status" value="{{createDate}}" >
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                <input class="form-control"  readonly  id="inputEmailAddress" type="email" placeholder="Enter your email address" readonly value="{{profile?.appUser?.email}}" >
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input class="form-control"  readonly  id="inputBirthday" type="date"  placeholder="Enter your birthday" formControlName="birthDay" value="{{profile?.birthDay}}">
              </div>
            </div>
            <div class="row gx-9 mb-3">
            <div class="col-md-3">
              <label class="small mb-1" for="inputImg1"></label>
              <input class="form-control"  readonly  id="inputImg1" type="file" placeholder="Enter your img" (change)="upfile($event)" >
            </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputImg2">Img2</label>
                <input class="form-control"  readonly  id="inputImg2" type="file" placeholder="Enter your img" (change)="upfile($event)" >
              </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputImg3">Img3</label>
                <input class="form-control"  readonly  id="inputImg3" type="file" placeholder="Enter your img"(change)="upfile($event)" >
              </div>
            </div>
            <!-- Form Group (email address)-->

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <!-- Form Group (birthday)-->

              <div class="mb-3" >
                <label class="small mb-1" for="requirementsForHirer">Requirements For Hirer</label>
                <textarea class="form-control"  readonly  readonly id="requirementsForHirer"  placeholder="Requirements For Hirer" formControlName="requirementsForHirer" value="{{profile?.requirementsForHirer}}"></textarea>
              </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row" style="background-color:white; width: 500px;">-->


