<!--<div *ngIf="!canEdit" id="manche">-->
<!--  <button id="editbtn" class="btn btn-primary" (click)="showEdit()">Edit Profile</button>-->
<!--</div>-->

<div class="container-xl px-4 mt-4">
  <div id="khungtren" style=" min-height: 100px;margin-top: 10px">
    <!-- Account page navigation-->
    <nav class="nav nav-borders" *ngIf="isYourP" >
      <a class="nav-link" [routerLink]="'/profile/show/'+id" ><h4>Your Profile</h4></a>
      <a class="nav-link" [routerLink]="'/profile/edit'" >Edit Profile</a>
      <a class="nav-link" [routerLink]="'/profile/service'">Service</a>
      <a class="nav-link" [routerLink]="'/profile/order'" >Order</a>
      <a class="nav-link" href="" >Email&Password</a>
      <a class="nav-link" [routerLink]="'/profile/wallet'"  >Wallet</a>
    </nav>
    <div id="item-khungtren" *ngIf="!isYourP">
        <h1> Profile of {{profile?.appUser?.userName}}</h1>
    </div>
  </div>


  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Avatar</div>
        <div class="card-body text-center ">
          <!-- Profile picture image-->
<!--          <div id="af" style="background:url({{profile?.avatar}})">-->
<!--          </div>-->
          <img *ngIf="profile?.avatar==null" class="img-account-profile rounded-circle mb-2"  src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
          <img *ngIf="profile?.avatar!=null" class="img-account-profile rounded-circle mb-2" id="avatar" src="{{profile?.avatar}}" alt="">

<!--          <input class="btn btn-primary" id="inputavatar" type="file" hidden (change)="upfile($event,'avatar')">-->
        </div>
        <div id="view-and-order">

        </div>
        <div id="chucnang" *ngIf="!isYourP&&profile?.status==5">

          <button id="btnhire" (click)="showFormHire()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Hire</button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">


      <div class="card mb-4">
        <div class="card-header">
            <p>Account Details</p>
            <p *ngIf="profile?.isConfirm==2" style="color: green">Verified</p>
            <p *ngIf="profile?.isConfirm!=2" style="color: red">Not verified</p>

        </div>
        <div class="card-body">
            <!-- Form Group (username)-->
            <div class="row gx-3 mb-3">

              <div class="col-md-6">
                <label class="small mb-1" for="inputUsername">Full Name </label>
                <p id="inputUsername"   >{{profile?.fullName}}</p>
              </div> <div class="col-md-6">
              <label class="small mb-1" for="inputBirthday">Birthday :</label>
              <p id="inputBirthday" >{{profile?.birthDay}}</p>
            </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHight">Hight :</label>
                <p    id="inputHight" >{{profile?.high}} Cm</p>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputWeight">Weight : </label>
                <p     id="inputWeight" >{{profile?.weight}} Kg</p>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->

              <div class="col-md-6">
                <label class="small mb-1" for="inputCountry">Country :</label>
                <p  id="inputCountry" type="text">{{profile?.country?.name}}</p>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputCity">City : </label>
                <p  id="inputCity"  >{{profile?.city?.name}}</p>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputHobby">Hobby :</label>
                <p    id="inputHobby" type="text" >{{profile?.hobby}}</p>

              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="inputIntroduction">Introduction :</label>
                <p  id="inputIntroduction">{{profile?.introduction}}</p>

              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputFacebookLink">FacebookLink:</label><br>

                <a  id="inputFacebookLink"   href="{{profile?.facebookLink}}" target="_blank">{{profile?.facebookLink}}</a>

              </div>

              <div class="col-md-6">
                <label class="small mb-1" >Gender :</label>

                <p  *ngIf="profile?.gender" >Nam</p>
                <p  *ngIf="!profile?.gender"> Nữ</p>


              </div>


              <div class="col-md-6">
                <label class="small mb-1" for="inputCreatDate">Creat Date :</label>
                <p    id="inputCreatDate" >{{createDate}}</p>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputEmailAddress">Email address :</label>
                <p id="inputEmailAddress"  >{{profile?.appUser?.email}}</p>
              </div>

            </div>
            <div class="row gx-9 mb-3">
              <div class="col-md-3">
                <label class="small mb-1" ><img id="img1" src="{{profile?.img1}}" alt="img1"></label>

              </div>
              <div class="col-md-3">
                <label class="small mb-1" ><img id="img2" src="{{profile?.img2}}" alt="img2"></label>
              </div>
              <div class="col-md-3">
                <label class="small mb-1" ><img id="img3" src="{{profile?.img3}}" alt="img3"></label>

              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Order</h4>
          <button style="padding-left: 400px" type="button" class="close" data-dismiss="modal">
X            </button>
        </div>
        <div class="modal-body">
          <h4 style="color: red;padding-left: 80px">*Requirement for hirer : {{profile?.requirementsForHirer}}</h4>
          <form >
              <table>
                <tr>
                  <td class="title-info">
                      Lover:
                  </td>
                  <td>
                      {{profile?.appUser.userName}}
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Basic Service:
                  </td>
                  <td>
                    <select id="basicS">
                        <option *ngFor=" let b of mbasicS" value="{{b?.id}}" >{{b?.name}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Advance Service:
                  </td>
                  <td>
                    <div class="form-check" *ngFor="let a of madvanceS">
                      <input class="form-check-input" type="checkbox"  value="{{a?.id}}" >
                      <label class="form-check-label">
                        {{a?.name}}
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Date of hire:
                  </td>
                  <td>
                    <input id="date-hire" type="date">
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Start time:
                  </td>
                  <td>
                    <select id="startTime" >
                      <option value="7">7h</option>
                      <option value="8">8h</option>
                      <option value="9">9h</option>
                      <option value="10">10h</option>
                      <option value="11">11h</option>
                      <option value="12">12h</option>
                      <option value="13">13h</option>
                      <option value="14">14h</option>
                      <option value="15">15h</option>
                      <option value="16">16h</option>
                      <option value="17">17h</option>
                      <option value="18">18h</option>
                      <option value="19">19h</option>
                      <option value="20">20h</option>
                      <option value="21">21h</option>
                      <option value="22">22h</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Hours of hire:
                  </td>
                  <td>
                   <select id="sogiothue" (change)="updateTotal()">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="8">8</option>

                   </select>
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Price/h:
                  </td>
                  <td>
                    {{profile?.cost}} VNĐ
                  </td>
                </tr>
                <tr>
                  <td class="title-info">
                    Total:
                  </td>
                  <td>
                    {{total}} VNĐ
                  </td>
                </tr>
                <tr *ngIf="total>wallet?.amount">
                  <td></td>
                  <td ><p style=" color: red;margin-left: 0 !important; ">Insufficient balance</p></td>

                </tr>
                <tr>
                  <td class="title-info">
                    Balance
                  </td>
                  <td>
                    {{wallet?.amount}} VNĐ
                  </td>
                </tr>
              </table>
              <textarea id="mfu" placeholder="Type a message"></textarea>
            <hr>
            <div id="btnOrder">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="button" id="createBTN" class="btn btn-primary"  data-dismiss="modal" (click)="create()">Create</button>

            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
