
<!--<link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">-->
<!--<link rel="icon" href="assets/images/fav.png" type="image/x-icon">&lt;!&ndash; font-awesome &ndash;&gt;-->
<!--<link href="/assets/css/font-awesome.css" rel="stylesheet">&lt;!&ndash; include the site stylesheet &ndash;&gt;-->
<!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">&lt;!&ndash; main stylesheet &ndash;&gt;-->
<!--<link rel="stylesheet" href="/assets/css/style.css">&lt;!&ndash; responsive css &ndash;&gt;-->
<!--<link rel="stylesheet" href="/assets/css/responsive.css">&lt;!&ndash; color css &ndash;&gt;-->
<!--<link rel="stylesheet" href="/assets/css/colors.css">-->
<div id="wrapper" style="margin-top: 100px;">
  <section class="page-info new-block">
    <div class="fixed-bg" ></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-wrapper"><h2 class="clr1">Search  For Dating</h2>
            <div class="clearfix"></div>

          </div>
          <form class="form-group" [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="form-control select">
                <select formControlName="address" id="address">
                  <option style="color: white" *ngFor="let c of citys" value="{{c?.id}}">{{c?.name}}</option>
                  <option style="color: white" value="" [defaultSelected]="true">-Address-</option>
                </select>
              </div>
              <div class="form-control select">
                <select formControlName="gender" id="gender">
                  <option style="color: white" value="" [selected]="true">-Gender-</option>
                  <option style="color: white" value=true>Male</option>
                  <option style="color: white" value=false>Female</option>
                </select>
              </div>
              <div class="form-control select">
                <select formControlName="birthyear" id="birthyear">
                  <option style="color: white" value="" [selected]="true">-Age-</option>
                  <option style="color: white" value="18-22">18-22</option>
                  <option style="color: white" value="23-27">23-27</option>
                  <option style="color: white" value="28-34">28-34</option>
                  <option style="color: white" value="35-40">35-40</option>
                </select>
              </div>
              <input type="text" class="form-control input" placeholder="Name" id="fullName" formControlName="fullName"><a
              href="#" class="sarch-member-btn" ></a>
              <input type="text" class="form-control input" placeholder="Views" formControlName="views" id="views"><a
              href="#" class="sarch-member-btn"></a>
              <input type="text" class="form-control input" placeholder="Hire Times" formControlName="hireTimes" id="hireTimes"><a
              href="#"></a>

              <button type="submit" class="sarch-member-btn"> <i class="flaticon-search"></i></button>

          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="search-result-area new-block pdtb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title2"><h2 class="fz35">Search Result : {{profiles.length}}</h2>
          </div>
        </div>
        <p *ngIf="profiles.length==0" style="margin-left: 533px;" class="fz20">No Data</p>
        <div class="col-lg-2 col-md-3 col-sm-4  col-xs-6" *ngFor="let p of profiles | paginate:{itemsPerPage: 12, currentPage: p}" [routerLink]="'/profile/show/'+p?.appUser?.id">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{p.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a><h3 class="fz22">{{p.fullName}}</h3>
              <p>{{p.views}} views - {{p.hireTimes}} hires</p>
              <p>Price/h : {{p.cost}} VND</p>
            </a></div>
          </div>
        </div>

        <div class="col-lg-12">
          <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event" style="display: flex;
    justify-content: center;">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

</div>
<script src="./assets/js/jquery.min.js"></script><!-- Bootstrap -->
<script src="./assets/js/bootstrap.min.js"></script><!-- Plugins -->
<script src="./assets/js/plugins.js"></script><!-- Googleapis -->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script><!-- Custom -->
<script src="./assets/js/custom.js"></script>



<section class="online-member new-block pdt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">Vip members</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp2" >
        <div *ngFor="let vipccdv of vipccdvs " [routerLink]="'/profile/show/'+vipccdv?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{vipccdv?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{vipccdv?.fullName}}</h3>
              <p>{{vipccdv?.city?.name}}-{{vipccdv?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{vipccdv?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section><!-- online-member -->


<section class="online-member new-block pdt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">New members</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp1" >
        <div *ngFor="let newccdv of newccdvs " [routerLink]="'/profile/show/'+newccdv?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{newccdv?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{newccdv?.fullName}}</h3>
              <p>{{newccdv?.city?.name}}-{{newccdv?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{newccdv?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section><!-- online-member -->
<section class="online-member new-block pdt-100" *ngIf="isLogin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">Near you</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp3" >
        <div *ngFor="let near of nearvvdvs " [routerLink]="'/profile/show/'+near?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{near?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{near?.fullName}}</h3>
              <p>{{near?.city?.name}}-{{near?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{near?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section class="online-member new-block pdt-100" *ngIf="isLogin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">Show By Gender</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp4" >
        <div *ngFor="let p of byGender " [routerLink]="'/profile/show/'+p?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{p?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{p?.fullName}}</h3>
              <p>{{p?.city?.name}}-{{p?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{p?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


<section class="online-member new-block pdt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">Lover Boy</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp11" >
        <div *ngFor="let p of profiles " [routerLink]="'/profile/show/'+p?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{p?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{p?.fullName}}</h3>
              <p>{{p?.city?.name}}-{{p?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Lượt thuê: {{p?.hireTimes}}</h3>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{p?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section><!-- online-member -->

<section class="online-member new-block pdt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title2"><h2 class="fz35">Lover Girl</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-area new-block" style="display: block;">
    <div class="container">
      <div class="row" id="MixItUp21" >
        <div *ngFor="let p of profiless " [routerLink]="'/profile/show/'+p?.appUser?.id" class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
          <div class="block-stl2">
            <div class="img-holder"><img src="{{p?.avatar}}" alt="" class="img-responsive"></div>
            <div class="txt-block"><a href="#"><h3 class="fz22">{{p?.fullName}}</h3>
              <p>{{p?.city?.name}}-{{p?.country?.name}}</p></a>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Lượt thuê: {{p?.hireTimes}}</h3>
            </div>
            <div class="txt-block">
              <h3 class="fz22">Price/h: {{p?.cost}}</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section><!-- online-member -->





<div class="client-area new-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="block-stl4 bg1"><i class="flaticon-happiness"></i>
          <p class="fz20">Happy Clients</p>
          <div class="counter-block"><span class="counter">3224</span></div>
        </div>
      </div>
      <div class="col">
        <div class="block-stl4 bg2"><i class="flaticon-people"></i>
          <p class="fz20">All Members</p>
          <div class="counter-block"><span class="counter">474</span></div>
        </div>
      </div>
      <div class="col">
        <div class="block-stl4 bg3"><i class="flaticon-users"></i>
          <p class="fz20">Online User</p>
          <div class="counter-block"><span class="counter">241</span></div>
        </div>
      </div>
      <div class="col">
        <div class="block-stl4 bg4"><i class="flaticon-circle"></i>
          <p class="fz20">Happy Dating</p>
          <div class="counter-block"><span class="counter">545</span></div>
        </div>
      </div>
      <div class="col">
        <div class="block-stl4 bg5"><i class="flaticon-trophy"></i>
          <p class="fz20">Happy people</p>
          <div class="counter-block"><span class="counter">314</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
