

  <div class="slider-block new-block">
    <div class="fixed-bg" style="background: url('/assets/images/slide_img1.jpg');"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="slider-txt">
            <div class="new-block cover-block"><h1 class="" data-animation-in="fadeInUp"
                                                   data-animation-out="animate-out fadeOutRight">
              <span>100% Free</span>Online Dating</h1></div><!-- cover-block -->
            <div class="new-block cover-block"><p data-animation-in="fadeInDown"
                                                  data-animation-out="animate-out fadeOutRight">
              Connecting singles across the world to their ideal partner</p></div>
            <!-- cover-block -->
            <div class="new-block cover-block" *ngIf="token==null">
              <div class="btn-cover"><a routerLink='login' class="c-btn btn1"
                                        data-animation-in="fadeInLeft"
                                        data-animation-out="animate-out fadeOutRight">Login</a></div>
              <div class="btn-cover"><a routerLink="register" class="c-btn btn2"
                                        data-animation-in="fadeInLeft"
                                        data-animation-out="animate-out fadeOutRight">Register</a>
              </div>
            </div><!-- cover-block --></div>
        </div>
        <div class="col-lg-5 col-md-5"><!-- logo-block --></div>
      </div>
    </div>
  </div>


  <section class="online-member new-block pdt-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title2"><h2 class="fz35">Members Online Now</h2>
            <div class="clearfix"></div>
            </div>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="filter-area new-block" style="display: block;">
      <div class="container">
        <div class="row" id="MixItUp1" >
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img1.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img2.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / M / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img3.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img4.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img5.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img1.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img2.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / M / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img3.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>

          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img5.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img6.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img7.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / M / Philippines</p></a></div>
            </div>
          </div>
          <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display: block;">
            <div class="block-stl2">
              <div class="img-holder"><img src="/assets/images/img8.jpg" alt="" class="img-responsive"></div>
              <div class="txt-block"><a href="#"><h3 class="fz22">Tenma Shyna</h3>
                <p>22 / F / Philippines</p></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Banner -->
  <a href="https://webpixels.io/components?ref=codepen" class="btn w-full btn-primary text-truncate rounded-0 py-2 border-0 position-relative" style="z-index: 1000;">
    <strong>Crafted with Webpixels CSS:</strong> The design system for Bootstrap 5. Browse all components &rarr;
  </a>



<!--            <tr>-->
<!--              <td data-label="Job Title">-->
<!--                <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
<!--                <a class="text-heading font-semibold" href="#">-->
<!--                  Darlene Robertson-->
<!--                </a>-->
<!--              </td>-->
<!--              <td data-label="Email">-->
<!--                <span>Developer</span>-->
<!--              </td>-->
<!--              <td data-label="Phone">-->
<!--                <a class="text-current" href="mailto:darlene@example.com">darlene@example.com</a>-->
<!--              </td>-->
<!--              <td data-label="Lead Score">-->
<!--                <a class="text-current" href="tel:224-567-2662">224-567-2662</a>-->
<!--              </td>-->
<!--              <td data-label="Company">-->
<!--                <span class="badge bg-soft-warning text-warning">5/10</span>-->
<!--              </td>-->
<!--              <td data-label="">-->
<!--                <a class="text-current" href="#">Netguru</a>-->
<!--              </td>-->
<!--              <td data-label="" class="text-end">-->
<!--                <div class="dropdown">-->
<!--                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="bi bi-three-dots-vertical"></i>-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-end">-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Another action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Something else here-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td data-label="Job Title">-->
<!--                <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
<!--                <a class="text-heading font-semibold" href="#">-->
<!--                  Theresa Webb-->
<!--                </a>-->
<!--              </td>-->
<!--              <td data-label="Email">-->
<!--                <span>Marketing Specialist</span>-->
<!--              </td>-->
<!--              <td data-label="Phone">-->
<!--                <a class="text-current" href="mailto:theresa.webb@example.com">theresa.webb@example.com</a>-->
<!--              </td>-->
<!--              <td data-label="Lead Score">-->
<!--                <a class="text-current" href="tel:401-505-6800">401-505-6800</a>-->
<!--              </td>-->
<!--              <td data-label="Company">-->
<!--                <span class="badge bg-soft-danger text-danger">2/10</span>-->
<!--              </td>-->
<!--              <td data-label="">-->
<!--                <a class="text-current" href="#">Figma</a>-->
<!--              </td>-->
<!--              <td data-label="" class="text-end">-->
<!--                <div class="dropdown">-->
<!--                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="bi bi-three-dots-vertical"></i>-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-end">-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Another action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Something else here-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td data-label="Job Title">-->
<!--                <img alt="..." src="https://images.unsplash.com/photo-1612422656768-d5e4ec31fac0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
<!--                <a class="text-heading font-semibold" href="#">-->
<!--                  Kristin Watson-->
<!--                </a>-->
<!--              </td>-->
<!--              <td data-label="Email">-->
<!--                <span>Sales Manager</span>-->
<!--              </td>-->
<!--              <td data-label="Phone">-->
<!--                <a class="text-current" href="mailto:cody.fisher@example.com">cody.fisher@example.com</a>-->
<!--              </td>-->
<!--              <td data-label="Lead Score">-->
<!--                <a class="text-current" href="tel:307-560-8817">307-560-8817</a>-->
<!--              </td>-->
<!--              <td data-label="Company">-->
<!--                <span class="badge bg-soft-success text-success">9/10</span>-->
<!--              </td>-->
<!--              <td data-label="">-->
<!--                <a class="text-current" href="#">Mailchimp</a>-->
<!--              </td>-->
<!--              <td data-label="" class="text-end">-->
<!--                <div class="dropdown">-->
<!--                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="bi bi-three-dots-vertical"></i>-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-end">-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Another action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Something else here-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td data-label="Job Title">-->
<!--                <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
<!--                <a class="text-heading font-semibold" href="#">-->
<!--                  Robert Fox-->
<!--                </a>-->
<!--              </td>-->
<!--              <td data-label="Email">-->
<!--                <span>Web Designer</span>-->
<!--              </td>-->
<!--              <td data-label="Phone">-->
<!--                <a class="text-current" href="mailto:robert.fox@example.com">robert.fox@example.com</a>-->
<!--              </td>-->
<!--              <td data-label="Lead Score">-->
<!--                <a class="text-current" href="tel:202-555-0152">202-555-0152</a>-->
<!--              </td>-->
<!--              <td data-label="Company">-->
<!--                <span class="badge bg-soft-success text-success">7/10</span>-->
<!--              </td>-->
<!--              <td data-label="">-->
<!--                <a class="text-current" href="#">Dribbble</a>-->
<!--              </td>-->
<!--              <td data-label="" class="text-end">-->
<!--                <div class="dropdown">-->
<!--                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="bi bi-three-dots-vertical"></i>-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-end">-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Another action-->
<!--                    </a>-->
<!--                    <a href="#!" class="dropdown-item">-->
<!--                      Something else here-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; online-member &ndash;&gt;-->
  <div class="p-10 bg-surface-secondary">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h6>Ranking Views</h6>

        </div>
        <div class="table-responsive">
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Views</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr  >
              <td data-label="Job Title">
                <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                <a class="text-heading font-semibold" href="#">

                </a>
              </td>
              <!--              <td data-label="Email">-->
              <!--                <span>Web Designer</span>-->
              <!--              </td>-->
              <!--              <td data-label="Phone">-->
              <!--                <a class="text-current" href="mailto:robert.fox@example.com">robert.fox@example.com</a>-->
              <!--              </td>-->
              <!--              <td data-label="Company">-->
              <!--                <span class="badge bg-soft-success text-success">7/10</span>-->
              <!--              </td>-->
              <!--              <td data-label="">-->
              <!--                <a class="text-current" href="#">Dribbble</a>-->
              <!--              </td>-->
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>

  <div class="client-area new-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="block-stl4 bg1"><i class="flaticon-happiness"></i>
            <p class="fz20">Happy Clients</p>
            <div class="counter-block"><span class="counter">3224</span></div>
          </div>
        </div>
        <div class="col">
          <div class="block-stl4 bg2"><i class="flaticon-people"></i>
            <p class="fz20">All Members</p>
            <div class="counter-block"><span class="counter">474</span></div>
          </div>
        </div>
        <div class="col">
          <div class="block-stl4 bg3"><i class="flaticon-users"></i>
            <p class="fz20">Online User</p>
            <div class="counter-block"><span class="counter">241</span></div>
          </div>
        </div>
        <div class="col">
          <div class="block-stl4 bg4"><i class="flaticon-circle"></i>
            <p class="fz20">Happy Dating</p>
            <div class="counter-block"><span class="counter">545</span></div>
          </div>
        </div>
        <div class="col">
          <div class="block-stl4 bg5"><i class="flaticon-trophy"></i>
            <p class="fz20">Happy people</p>
            <div class="counter-block"><span class="counter">314</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
